.product-container {
  border-radius: 10px;
  box-shadow:
    rgba(60, 64, 67, 0.1) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;

  .product-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 10px 10px 0 0;

    img {
      width: 70px;
      height: 70px;
    }

    .product-title {
      font-size: 20px;
      font-weight: bold;
      display: flex;
      align-items: center;

      .animated-flash {
        animation: flash 0.2s infinite alternate;
      }
    }

    .product-timer {
      font-size: 16px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      .timer-countdown {
        span {
          font-weight: bold;
          color: white;
        }
      }
    }
  }

  .product-card {
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: translateY(-5px);
    }
  }

  .product-product-title {
    height: 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;

    .product-old-price {
      font-size: 12px;
      color: #999;
    }

    .product-new-price {
      font-size: 16px;
      font-weight: bold;
      color: #ff4d4f;
    }
  }

  .product-buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 10px;
  }

  .discount-ribbon {
    font-size: 12px;
  }
}