.product-detail-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;

  .note {
    background-color: #ff00003b;
  }

  .product-card {
    .product-image {
      width: 100%;
      border-radius: 8px;
    }



    .ant-tag {
      font-size: 14px;
      padding: 5px 10px;
    }

    .ant-typography {
      margin-bottom: 8px;
    }
  }

  .card-content {
    position: relative;

    .product-info-card {
      text-align: center;
      transition: transform 0.3s ease-in-out;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: sticky;
      top: 20px;
      transition: top 0.3s;

      &:hover {
        transform: translateY(-5px);
      }
    }

    .description-rate-card {
      border-radius: 8px;
      padding: 10px 10px 0 10px;
      box-shadow:
        rgba(60, 64, 67, 0.1) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
    }
  }

  .section-title {
    font-size: 18px;
    font-weight: bold;
  }

  .similar-product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .ant-card {
    text-align: center;

    .ant-btn {
      margin-top: 10px;
    }
  }
}