.menu-horizontal {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40px;
  border-radius: 8px;

}

.ant-menu-submenu-popup .ant-menu-vertical .ant-menu-item {
  display: flex !important;
}