@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0);
  }
}

.header {
  color: white;
  font-size: 18px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: '100%';
  display: 'flex';
  align-items: 'center';

  .link-home {
    color: white;
    text-decoration: none;
  }

  .cart-container {
    transition: transform 0.3s ease-in-out;

    &.cart-updated {
      animation: shake 0.3s ease-in-out;
    }
  }
}

.sub-menu-item {
  .ant-menu-submenu-title {
    display: flex !important;
  }
}